In [1]:
print("Hello world")

Hello world

In [2]:
print(5+6)

11

In [4]:
a=int(input())
A=[2,4,6,8]
B=[1,3,5,7]

if a in A:
    print("even")
elif a in B:
    print("odd")
else:
    print("error")

10
error

In [6]:
# calculator

N1=int(input())
op=(input())
N2=int(input())

if op== "+":
    print(N1 + N2)
elif op=="-":
    print(N1 - N2)

5
+
4
9

In [7]:
x=open("C:\\Users\\User\\OneDrive\\Desktop\\sample.txt","r")
y=x.read()
print(y)
x.close()

hi hello aaaaaaaaaa

In [11]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for number in range (100,10,-50):
    print(number)

100
50

In [8]:
obj=lambda a,b:a+b
obj(6,5)

11

In [1]:
# filter
a=[1,2,3,4,5,6,7,8,9,10]

def even(n):
    return n%2==0


c=list(filter(even,a))
print(c)

[2, 4, 6, 8, 10]

In [18]:
# map

def sq(n):
    return n*n*n

sq(2)

8

In [19]:
map_result= list(map(sq,a))
print(map_result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [21]:
#reduce
from functools import reduce

num = [5,8,9,4,2,7]

def sns(f,s):
    return(f+s)

result=reduce(sns,num)
result

35

In [27]:
from functools import reduce

B=[]
for i in range(5):
    B.append(i)
C=reduce(lambda a,b:a+b,B)
C

10

In [22]:
from functools import reduce
A=[1,2,3,4,5,6,7,8,9,10]
B=reduce(lambda a,b:a+b,A)
B

55

In [13]:
#set

s={1,2,4,5,3,2,1,9,6,2,7,5,9}
print(s)

{1, 2, 3, 4, 5, 6, 7, 9}

In [15]:
#dictionary

#students details


Students = {
    "Id_num":[16,21,56,84,7],
    "Name" : ["Nagulan","prasanth","pradeep","ajay","pranav"],
    "dept":["aerospace","ece","eee","biotech","IT"],
    "year":[2020,2021,2020,2017,2018],
    "status":["UM","UM","M","M","UM"]
}


Students["Name"]

['Nagulan', 'prasanth', 'pradeep', 'ajay', 'pranav']

In [16]:
print("ID_num_is  : ",Students["Id_num"][0])
print("Name  : ",Students["Name"][0])
print("dept  : ",Students["dept"][0])
print("year  : ",Students["year"][0])
print("Status  : ",Students["status"][0])

ID_num_is  :  16
Name  :  Nagulan
dept  :  aerospace
year  :  2020
Status  :  UM

In [28]:
Students["Id_num"].index(84)

3

In [ ]:
Id=int(input("Enter the Id number : "))
pos =Students["Id_num"].index(Id)
pos

In [1]:
Student_name =input("Enter student name : ")
Mark = int(input("Enter the mark : "))

if Mark>100 or Mark<=0 :
  print(" Enter valid marks")
elif Mark>90:
    print( "Congradulations " + Student_name + " you got Grade A")
elif Mark>80<90:
  print( "Congradulations  " + Student_name + " you got Grade B")
elif Mark>70<80:
  print( "Congradulations  "  + Student_name + " you got Grade C ")
elif Mark>60<70:
  print( "Congradulations " + Student_name + " you got Grade D ")
elif Mark>50<60:
  print( "Congradulations " + Student_name + " you got Grade E ")
elif Mark <50:
    print(Student_name  + " sorry you are fail")
elif Mark>100:
  print(" Enter valid marks")

Enter student name : Joe
Enter the mark : 56
Congradulations Joe you got Grade E

In [1]:

s = [1,55,44,6,1,7,88,4,55,3,2,54,22,99,66,5,1,77]

i = 0
    
while i<len(s):
    if s[i]==55:
        pass
        i=i+1
    else:
        print(s[i])
        i=i+1

1
44
6
1
7
88
4
3
2
54
22
99
66
5
1
77

In [14]:
##File handling
'''
my_file=open("H:\\hello.txt","r")
file=my_file.read()
file
'''

'My name is Nagulan\nI am from chidambaram\nI studied at Thanjavur'

In [17]:
x=open("C:\\Users\\User\\OneDrive\\Desktop\\practice.txt","r")
y=x.read()
print(y)

Nagulan

pradeep

ajay

danie

tharun

In [ ]:
### OOPS

In [25]:
class cricketers:
    def __init__(self ,name , age, DOB):
     self.name = name
     self.age=age
     self.DOB=DOB
    
    
player1 = cricketers("virat",30,96)

print(player1.name)
print(player1.age)
print(player1.DOB)

virat
30
96

In [2]:
class cls_room:
    girls = 20
    boys = 18
    beanch = 12
    shelf = 1
    co_ed = True
    
kmhss=cls_room()



print("Total no of boys are: " ,kmhss.boys)

Total no of boys are:  18

In [7]:
class cls_room:
    girls = 20
    boys = 18
    beanch = 12
    shelf = 1
    co_ed = True
    
kmhss=cls_room()

kmhss.present = 35
kmhss.absent = 3
kmhss.total_sub = 8
kmhss.class_teacher = "mani"


nirmala=cls_room()

nirmala.present = 25
nirmala.absent = 3
nirmala.total_sub = 9
nirmala.class_teacher = "siva"

print(nirmala.class_teacher)
print(kmhss.class_teacher)

siva
mani

In [17]:
class bio_data:
    def __init__(self,name,age,qualifications,year,dept):
        
        self.name=name
        self.age=age
        self.qualifications=qualifications
        self.year=year
        self.dept=dept
candidate1= bio_data("Nagulan",22,"B.tech","3rd","Aerospace")
candidate2= bio_data("prasanth",22,"B.E","2nd","Mechanical")
candidate3= bio_data("pradeep",21,"B.tech","4th","bio_tech")
candidate4= bio_data("Tharun",26,"M.tech","1st","EEE")
candidate5= bio_data("Ajay",25,"M.tech","1st","ECE")




print(" candidate Name is : " , candidate1.name)
print(" candidate Dept is : " , candidate2.dept)
print(" candidate Year is : " , candidate3.year)
print(" candidate Qualification is : " , candidate4.qualifications)
print(" candidate Age is : " , candidate5.age)

 candidate Name is :  Nagulan
 candidate Dept is :  Mechanical
 candidate Year is :  4th
 candidate Qualification is :  M.tech
 candidate Age is :  25

In [24]:
class room:
    def __init__(self,name):
        self.name=name
    def print_name(self):
        print("Hi My name is : " ,self.name)
    
Nagulan= room("Nagulan")
Ajay= room("Ajay")
Nagulan.print_name()
Ajay.print_name()

Hi My name is :  Nagulan
Hi My name is :  Ajay

In [43]:

class student:
    def __init__(self,first_name,last_name,dept,age,gender):
        self.first_name=first_name
        self.last_name=last_name
        self.dept=dept
        self.age=age
        self.gender=gender
    def full_name(self):
        print(self.first_name + " " +self.last_name)
    def age1(self):
        print(self.age)
st1=student("Nagulan","senthil_nathan","Aero",22,"M")
st2=student("Pradeep","kannan","Mech",21,"M")

st1.full_name()
st1.age1()

st2.full_name()
st2.age1()

Nagulan senthil_nathan
22
Pradeep kannan
21

In [41]:
class student:
    def __init__(self,first_name,last_name,dept,age,gender):
        self.first_name=first_name
        self.last_name=last_name
        self.dept=dept
        self.age=age
        self.gender=gender
    def full_name(self):
        print(self.first_name + " " +self.last_name)
    def department(self):
        print(self.dept)
st1=student("Nagulan","senthil_nathan","Aero",22,"M")

st1.full_name()
st1.department()

Nagulan senthil_nathan
Aero

# lambda

In [33]:
s=lambda x,y:x**y
print(s(2,3))

8

In [1]:
result = lambda x,y : x*y
print(result(5,4))

20

In [40]:
numbers= [1,2,3,4,5,6,7,8,9,10]
print(list(filter(lambda num : num%2==0,numbers)))

[2, 4, 6, 8, 10]

In [2]:
even = [22,56,41,8,49,1,6,77,45,75,63,52,54,89]

result=list(filter(lambda i : i%2==0,even))
result

[22, 56, 8, 6, 52, 54]

In [4]:
names = ["Nagulan","Pradeep","Danie","Tharun","Ajay","Mani","rudhra","Sekar"]

print(list(filter(lambda i : i[1]=="a",names)))

['Nagulan', 'Danie', 'Mani']

# Map

In [6]:
def sq(n):
    return n*n

sq(10)

100

In [8]:
result = list(map(sq,num))
result

[1, 4, 16, 36, 49, 64, 81, 25]

In [5]:
num=[1,2,4,6,7,8,9,5]

result=list(map(lambda i : i*i,num))
result

[1, 4, 16, 36, 49, 64, 81, 25]

In [9]:
weight =[70,80,90,100]
height = [1.6,1.7,1.8,1.9]

result = list(map(lambda w,h :w/h,weight,height))
result

[43.75, 47.05882352941177, 50.0, 52.631578947368425]

In [12]:
weight =[70,80,90,100]
height = [1.6,1.7,1.8,1.9]

print(list(map(lambda i: weight[i]/height[i], range(0,len(weight)))))

[43.75, 47.05882352941177, 50.0, 52.631578947368425]

# regular experession

In [44]:
import re

In [52]:
text = "I am Nagulan , I am from chidambaram, I studied at Aero"
x=re.compile("Aero")
y = x.finditer(text)
for i in y:
    print(i.start(), i.end())

51 55

In [51]:
bio=(input("Enter your bio: "))
guess_word=(input("Enter the guess word : "))

x=re.compile(guess_word)
y= x.finditer(bio)

for i in y:
    print(i.start(), i.end())

Enter your bio: I am from chidambaram
Enter the guess word : from
5 9

In [5]:
import re

ds_module= "There are 21 modules, till now they covered 3 modules"
x =re.compile("modules").finditer(ds_module)
for i in x:
    print(i.start())
    print(i.end())

13
20
46
53

In [16]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10